html
  head
    title customer details
  body
    fieldset
      table
        form(method='post')
          tr
            td Id : 
            td
              input(type='number', name='cust_id', autoincrement='autoincrement')
          tr
            td Name : 
            td
              input(type='text', name='cust_name')
          tr
            td Address : 
            td
              input(type='text', name='add1')
          tr
            td City : 
            td
              input(type='text', name='city')
          tr
            td Contact :
            td
              input(type='text', name='contact')
          tr
            td
              input(type='submit', name='submit', value='submit')
