html
  head
    title  displayList  
  body
    form(method='post', action='/customer')
      select(#pid, name= 'item')
        -each product in products
          option(value=product.p_name ) #{product.p_name}         :  Rs\- #{product.unit_price} 
      | Quantity:
      input(type='text', name='qty')
      | Total Price:
      input(type='text', name='price')
      input(type='submit', value='submit', name='submit')