
html
  head
    title  displayList	
  body
    select
      option(value='volvo') Volvo
      option(value='saab') Saab
      option(value='mercedes') Mercedes
      option(value='audi') Audi
    input(type='submit', value='submit', name='submit')
    | Quantity:
    input(type='text', name='qty')
    | Total Price:
    input(type='text', name='price')

